.footer {
  margin-top: 32px;
  background-color: $orange-50-color;
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
    .footer-logo-country-text {
      display: flex;
      flex-direction: column;
      width: 285px;
      gap: 20px;
      .footer-logo {
        width: 163px;
        height: 164px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .country-text {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        span {
          font-weight: 500;
          color: $primary-color;
        }
      }
    }
    .footer-navbar {
      .footer-navbar-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        .footer-list {
          a {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
    .footer-contact-links {
      .contact-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .contact-list-item {
          a {
            display: flex;
            gap: 16px;
            .contact-list-text {
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .copyWrite{
    text-align: center;
    padding-bottom: 26px;
    padding-top: 8px;
    font-size: 20px;
    font-weight: 500;
  }
}
