.about-section {
  padding: 0 0 32px 0;
  .about-section-wrapper {
    flex-direction: column;
    
    .text-box {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .about-text {
        text-align: justify;
        font-weight: 400;
        font-size: 24px;
      }
      .more-details-button {
        width: 178.13px;
        height: 36px;
        display: flex;
        gap: 4px;
        border: none;
        outline: none;  
        background-color: transparent;
        font-size: 24px;
        font-weight: 400;
        text-align: justify;
        color: $primary-color;
        cursor: pointer;
        .more-icon {
     
          color: $primary-color;
        }
      }
    }
  }
}
