.banner {
  background-color: $orange-200-color;
  width: 100%;
  height: 299px;
margin-top: 112px;
  .container {
    .banner-item {
      height: 299px;
      display: flex;
      align-items: center;
      justify-content: center;
      .banner-image{
        width: 100%;
        height: 299px;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
