.userReviews-section {
  padding: 0 0 32px 0;
  .userReviews {
    .head-title {
      text-align: center;
    }
    .customer-feed-back-box {
      background-color: $orange-50-color;
      padding: 48px 0;
      .customer-feedback {
        display: flex;
        justify-content: space-between;
        .feedback-left {
          .feedback-title {
            font-size: 32px;
            font-weight: 500;
            width: 493px;
            .feedback-title-span {
              color: $primary-color;
            }
          }
          .feedback-text-prompt {
            font-size: 24px;
            width: 482px;
            font-weight: 400;
            padding-top: 12px;
          }
          .feedback-list {
            padding-top: 36px;
            .feedback-list__images {
              display: flex;
              .feedback-list__item {
                width: 70px;
                height: 70px;
                
                a {
                  img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 2px solid #fff;
                   
                  }
                }
              }
            }
            .feedback-list__count{
                font-weight: 600;
                font-size: 24px;
                text-decoration: underline;
            }
          }
        }
      }
    }
  }
}






// Şəkilləri 40px sola hərəkət etdirərək üst-üstə qoyma
.feedback-list__item:nth-child(1) a img {
    transform: translateX(0px); /* İlk şəkil heç bir dəyişiklik etməsin */
  }
  
  .feedback-list__item:nth-child(2) a img {
    transform: translateX(-15px); /* İkinci şəkil 40px sola hərəkət etsin */
  }
  
  .feedback-list__item:nth-child(3) a img {
    transform: translateX(-30px); /* Üçüncü şəkil 80px sola hərəkət etsin */
  }
  
  .feedback-list__item:nth-child(4) a img {
    transform: translateX(-45px); /* Dördüncü şəkil 120px sola hərəkət etsin */
  }
