.contact-section {
  padding: 0 0 32px 0;
  .contact-section-wrapper {
    .head-title {
      text-align: center;
    }
    .contact-info {
      display: flex;
      justify-content: space-between;
      .contact-left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .info {
          display: flex;
          flex-direction: column;
          gap: 16px;
          label {
            font-size: 20px;
            font-weight: 400;
          }
          input {
            width: 445px;
            height: 48px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            &::placeholder {
              color: #000;
              font-size: 16px;
              font-weight: 200;
            }
          }
          .subject-input,
          .name-input {
            padding: 10px 12px;
          }
        }
      }
      .contact-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .message-input {
          display: flex;
          flex-direction: column;
          gap: 16px;
          label {
            font-size: 20px;
            font-weight: 400;
          }
          textarea {
            width: 445px;
            height: 202px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            padding: 12px 10px;
          }
        }
        .send-btn {
          height: 54px;
          width: 100%;
          background-color: $primary-color;
          border: 1px solid $primary-color;
          border-radius: 10px;
          color: #fff;
          font-weight: 600;
          font-size: 20px;
        }
      }
    }
  }
}
